a,
a:hover {
  color: #333;
  text-decoration: none;
}
.cut-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wjs-header {
  height: 40px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
}
.wjs-header .row > div {
  border-right: 1px solid #ccc;
  height: 40px;
}
.wjs-header .row > div:last-child {
  border-right: none;
}
.wjs-header .row > div .btn-register {
  padding: 2px 10px;
}
.wjs-header .m-wjs {
  position: relative;
}
.wjs-header .m-wjs .code {
  display: none;
  position: absolute;
  left: -24px;
  top: 29px;
  z-index: 99;
}
.wjs-header .m-wjs:hover .code {
  display: block;
}
.wjs-nav {
  /* 在移动端 超小屏幕 希望导航的行高变成50px*/
}
.wjs-nav .wjs-navbar {
  background-color: #fff;
  border-color: #e7e7e7;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}
.wjs-nav .wjs-navbar .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs-nav .wjs-navbar .navbar-brand .wjs_icon_logo {
  font-size: 50px;
  color: red;
  vertical-align: middle;
}
.wjs-nav .wjs-navbar .navbar-brand .wjs_icon_word {
  font-size: 30px;
  color: #000;
  vertical-align: middle;
}
.wjs-nav .wjs-navbar .navbar-brand:hover,
.wjs-nav .wjs-navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs-nav .wjs-navbar .navbar-text {
  color: #777;
}
.wjs-nav .wjs-navbar .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs-nav .wjs-navbar .navbar-nav > li > a:hover,
.wjs-nav .wjs-navbar .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.wjs-nav .wjs-navbar .navbar-nav > .active > a,
.wjs-nav .wjs-navbar .navbar-nav > .active > a:hover,
.wjs-nav .wjs-navbar .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.wjs-nav .wjs-navbar .navbar-nav > .disabled > a,
.wjs-nav .wjs-navbar .navbar-nav > .disabled > a:hover,
.wjs-nav .wjs-navbar .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.wjs-nav .wjs-navbar .navbar-toggle {
  border-color: #ddd;
}
.wjs-nav .wjs-navbar .navbar-toggle:hover,
.wjs-nav .wjs-navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs-nav .wjs-navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjs-nav .wjs-navbar .navbar-collapse,
.wjs-nav .wjs-navbar .navbar-form {
  border-color: #e7e7e7;
}
@media screen and (max-width: 768px) {
  .wjs-nav .wjs-navbar .navbar-brand {
    color: #777;
    height: 50px;
    line-height: 20px;
  }
  .wjs-nav .wjs-navbar .navbar-nav > li > a {
    color: #777;
    height: 50px;
    line-height: 20px;
  }
}
.wjs-banner .pc-image {
  height: 410px;
  background-position: center center;
}
.wjs-banner .m-img {
  width: 100%;
}
.wjs-info .row > div {
  margin-top: 30px;
}
.wjs-info .row .media .media-left {
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  .wjs-info .container {
    width: 970px;
  }
}
.wjs-book {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 40px 0;
}
.wjs-book span[class^="wjs_icon_"] {
  font-size: 24px;
}
.wjs-book .book-link {
  color: red;
  border-bottom: 1px dashed red;
}
.wjs-book .pull-right a:hover {
  color: red;
}
.wjs-product {
  background-color: #ccc;
  padding: 30px 0;
}
.wjs-product .cut {
  overflow: auto;
}
.wjs-product .wjs-tabs {
  border-bottom: 1px solid #ddd;
}
.wjs-product .wjs-tabs > li {
  float: left;
}
.wjs-product .wjs-tabs > li > a {
  height: 50px;
  line-height: 30px;
}
.wjs-product .wjs-tabs > li > a:hover {
  border-bottom: 2px solid red;
  background: transparent;
}
.wjs-product .wjs-tabs > li.active > a,
.wjs-product .wjs-tabs > li.active > a:hover,
.wjs-product .wjs-tabs > li.active > a:focus {
  border-bottom: 2px solid red;
  background: transparent;
}
.wjs-product .tab-content .row > div {
  margin-top: 20px;
}
.wjs-product .tab-content .row .in {
  height: 150px;
  background: #fff;
}
.wjs-product .tab-content .row .in .left {
  position: relative;
  height: 150px;
  overflow: hidden;
}
.wjs-product .tab-content .row .in .left p {
  font-size: 12px;
}
.wjs-product .tab-content .row .in .left::before {
  content: "\e915";
  font-family: "wjs_fonts";
  position: absolute;
  left: 0px;
  top: -8px;
  font-size: 40px;
}
.wjs-product .tab-content .row .in .right {
  position: relative;
  width: 80px;
  height: 150px;
  float: right;
  border-left: 1px dashed #333;
}
.wjs-product .tab-content .row .in .right span {
  font-size: 36px;
  font-weight: bold;
}
.wjs-product .tab-content .row .in .right p:nth-child(1) {
  margin-top: 30px;
}
.wjs-product .tab-content .row .in .right::before,
.wjs-product .tab-content .row .in .right::after {
  content: "";
  position: absolute;
  left: -7px;
  top: -7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ccc;
}
.wjs-product .tab-content .row .in .right::after {
  top: auto;
  bottom: -7px;
}
.wjs-product .tab-content .row .current .in {
  background-color: red;
  color: #fff;
}
.wjs-news {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 40px 0;
}
.wjs-news h4 {
  position: relative;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
}
.wjs-news h4::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.wjs-news .row .news-tabs > li {
  float: left;
  margin-bottom: 60px;
}
.wjs-news .row .news-tabs > li:last-child {
  margin-bottom: 0;
}
.wjs-news .row .news-tabs > li > a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 40px;
  text-align: center;
  background-color: #ccc;
  border-radius: 50%;
  font-size: 30px;
}
.wjs-news .row .news-tabs > li > a:hover {
  background-color: red;
  color: #fff;
}
.wjs-news .row .news-tabs > li.active > a,
.wjs-news .row .news-tabs > li.active > a:hover,
.wjs-news .row .news-tabs > li.active > a:focus {
  background: red;
  color: #fff;
}
.wjs-news .line {
  position: absolute;
  height: 100%;
  width: 1px;
  left: 45px;
  border-left: 1px dashed red;
}
.wjs-news .tab-content ul li {
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 992px) {
  .wjs-news .row .news-tabs > li {
    margin-bottom: 0;
    width: 25%;
  }
  .wjs-news .row .news-tabs > li a {
    margin: 0 auto;
  }
}
.wjs-partner {
  padding: 30px 0;
}
.wjs-partner h4 {
  font-size: 60px;
}
.wjs-partner ul li {
  list-style: none;
  display: inline-block;
  font-size: 70px;
  margin: 0 20px;
  color: #f99;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs-partner h4 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wjs-partner h4 {
    font-size: 24px;
  }
}
.panel.panel-primary {
  margin-bottom: 0;
}
